* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #000;
}

.menu-button {
    display: none; /* Hide the button by default */
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 10px;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
}


/* Main Page design for full screen */
main {
    width: 100%;
    margin: 20px auto;
    padding: 20px 0;
}

.intro-page {
    margin-top: 100px;
}

.sub-intro-page {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 50%;
}

.intro-text h1 {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 70.5px;
    margin: 10px 0;
    padding: 10px 0;
    color: #21243D;
}

.intro-text p {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.5px;
    margin: 10px 0;
    padding: 10px 0;
    color: #21243D;
}

.intro-text button {
    margin: 10px 0;
    border: none;
    padding: 10px 20px;
    background-color: #FF6464;
    border-radius: 5px;
    color: #FFFF;
}

/* The recent post page design for full screen */
.recent-post-page {
    margin: 40px auto;
    background-color: #EDF7FA;
}

.sub-recent-post-page {
    width: 80%;
    margin: 10px auto;
    padding: 20px 0;
}

.post-header-text {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    flex: 50%;
    margin: 10px auto;
}

.recent-post-text {
    font-size: 14px;
    font-weight: 500;
    color: #21243D;
}

.view-all-text {
    font-size: 10px;
    font-weight: 500;
    color: #00A8CC;
}

.post-box {
    margin: 20px 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 50%;
}

.first-post {
    width: 418px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.first-post h2 {
    width: 374px;
    font-size: 24px;
    padding: 10px 0;
    color: #21243D;
}

.date-cont {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.date-cont h2 {
    width: 150px;
    font-size: 18px;
    padding: 10px 0;
    color: #21243D;
}

.line {
    width: 2px;
    height: 21px;
    background-color: #000000;
}


.first-post p {
    width: 356px;
    font-size: 16px;
    color: #21243D;
    padding: 10px 0;
    line-height: 25.5px;
}

.second-post {
    width: 418px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.second-post h2 {
    width: 374px;
    font-size: 24px;
    padding: 10px 0;
    color: #21243D;
}

.second-post .date-cont h2 {
    width: 150px;
    font-size: 18px;
    padding: 10px 0;
    color: #21243D;
}

.second-post p {
    width: 356px;
    font-size: 16px;
    color: #21243D;
    padding: 10px 0;
    line-height: 25.5px;
}

/* The feature work design of full page */
.feature-mobile {
    display: none;
}

.sub-page-feature {
    width: 80%;
    margin: 40px auto;
    padding: 10px 0;
}

.sub-page-feature h2 {
    font-size: 18px;
    margin: 20px 0;
    color: #21243D;
}

.feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
}

.feature-box-text h2 {
    font-size: 26px;
    color: #21243D;
    margin: 10px 0;
}

.date-dash-cont {
    display: flex;
    align-items: center;
    gap: 30px;
}

.date-dash-cont .date {
    font-size: 14px;
    background-color: #142850;
    color: #FFFF;
    border-radius: 50px;
    padding: 5px 10px;
}

.date-dash-cont .text {
    font-size: 13px;
    color: #8695A4;
}

.feature-box-text p {
    font-size: 20px;
    line-height: 24.5px;
    margin: 10px 0;
}

/* The footer design for full page */
.social-icon {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.copyright {
    width: 300px;
    margin: 10px auto;
    font-size: 10px;
    text-align: center; 
}





/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navbar {
        width: 400px;
    }

    .menu-button {
        margin-top: 20px;
        display: block; /* Show the button */
    }

    .nav-links {
        display: none; /* Hide the links */
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust the top position as needed */
        right: 0;
        width: 100%;
        text-align: center;
        gap: 10px;
    }

    .nav-links.active {
        display: flex; /* Show the links when menu is active */
    }

    .sub-intro-page {
        width: 400px;
        margin: auto;
        text-align: center;
        flex-direction: column;
    }

    .intro-text h1 {
       width: 400px;
       margin: auto;
    }

    .intro-text p {
        width: 400px;
       margin: auto;
    }

    .sub-recent-post-page {
        width: 400px;
        margin: auto;
    }

    .post-box {
        width: 400px;
        flex-direction: column;
    }

    .first-post, .second-post {
        width: 390px;
        margin: 10px 0;
    }

    .sub-page-feature {
        width: 400px;
    }

    .feature-box {
        display: none;
    }

    .feature-mobile {
        display: block;
        width: 400px;
        margin: auto;
    }

    .feature-box-img img {
        width: 390px;
    }

    .feature-box-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }
}
